@tailwind base;
@tailwind components;
@tailwind utilities;

/* #slider-boxes {
  display: flex !important;
}

.slick-slide div {
  margin: 10px;
}

.slick-arrow:before {
  color: rgb(238, 24, 24);
  font-size: 50px;
}  */

html,
body {
  @apply bg-background text-text font-sans;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-gray-800;
}

a {
  @apply text-primary no-underline hover:underline;
}

button {
  @apply rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-primary;
}

